<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{TITLE}</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16/dist/katex.min.css">
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16/dist/katex.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16/dist/contrib/auto-render.min.js"
                onload="renderMathInElement(document.body)"></script>
    </head>
    <body>
        <a class="back" href="index.html">&larr; index</a>
        <article>
            {FRONTMATTER}
            {BODY}
        </article>
    </body>
</html>
